@import "tailwindcss";

* {
  cursor: none;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #9333ea, #3b82f6, #ec4899, #22d3ee);
  background-size: 300% 300%;
  animation: gradientMove 5s ease infinite;
}
